.containerIdealizador {
    background-image: url(/images/background-rodape.png);
    margin: 0 auto;
}

.idealizador-flex {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.idealizador-card {
    width: 50rem;
    background-color: #1a1a1a;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.idealizador-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid var(--cor-secundaria);
    z-index: -1;
    transform: scale(1);
    border-radius: 5px;
    transition: transform 0.4s ease, border-color 0.4s ease, background 0.4s ease;
}

.idealizador-card:hover::before {
    transform: scale(1.05);
    background: linear-gradient(45deg, var(--cor-primaria), var(--cor-terciaria), var(--cor-secundaria));
    border-color: transparent;
}

.idealizador-card__imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 0.8rem;
    padding: 1rem;
    border: none;
    border-radius: 0;
    height: auto;
    overflow: visible;
}

.idealizador-card:hover .idealizador-card__imagem {
    border-color: var(--cor-terciaria);
}

.idealizador-card__imagem img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--cor-primaria);
    object-fit: cover;
    transition: border-color 0.4s ease;
}

.idealizador-card__info h4 {
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
    color: var(--cor-texto);
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.idealizador-card__info p {
    font-size: 0.9rem;
    color: var(--cor-secundaria);
    min-height: 4rem;
    display: flex;
    flex-wrap: wrap;
}